gdelt_data_3days


__pycache__

raw/ScreenCapture1.gif
raw/ScreenCapture3.gif
raw/ScreenCapture2.gif
raw/ScreenCapture5.gif
raw/ScreenCapture4.gif
.env
Get_Historic_Data/__pycache__
gdelt_processing.log
sustainability-report.pdf

src/gdelt_processing.log
gdelt_processing.log
esg
src/python_get_data_wrapper.py
Data/.~lock.top_200_companies_3days_2025.csv#
src/python_get_data_wrapper.py
